body {
    margin-top: 70px;
    min-height: 100vh;
    font-family: "Times New Roman", Times, serif;
    background: url(./images/background.jpg) center no-repeat;
    background-size: cover;
    margin-left: 100px;
    
}
.container {
    max-width: 1280px;
    display: flex;
    flex-wrap: wrap;
    margin: 0px auto;
    padding: 0;
    float: left;
    font-size: 30px;
}
.header-logo {
    position: relative;
    margin-bottom: 20px;
    padding: 15px 29px 15px 15px;
    background: #f8f8f8;
    font-weight: 900;
    color: #8b8484;
    text-align: center;
    width: 365px;
}
body {
    margin: 0; /* Înlătură marginile implicite ale paginii */
    height: 100vh; /* Asigură-te că body-ul ocupă întreaga înălțime a ecranului */
}


